body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* заголовок */
.title {
    margin-top: 15px;
}

/* поле сборки */
.board {
    width: 92vw;
    max-width: 380px;
    aspect-ratio: 3/4;

    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
}

.slot {
    border: 2px dashed #333;
    border-radius: 8px;
}

/* кусочки */
.pieces {
    width: 92vw;
    max-width: 380px;

    margin: 15px auto;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
}

.tile {
    aspect-ratio: 1;
    background-size: 300% 400%;
    border-radius: 8px;
    cursor: pointer;
}

.tile:active {
    transform: scale(0.95);
}

.hint {
    font-size: 14px;
    opacity: 0.7;
}

/* победа */
.win {
    font-size: 22px;
    color: #ff69b4;
    margin: 20px;
}

.hidden {
    display: none;
}
